## Oct2021 ASG1 Submission

We will be using a modified, anonymized dataset from Titanic Passenger Data. This dataset is a partial sub-set of the full original data, with missing/unusual data already cleaned or adjusted.

Column details:

*passenger_id*: (anonymized, unique id numbers assigned to each passenger) <br>
*pclass*: represents passenger cabin class, (1 - first class, 2 - second class, 3 - third class) <br>
*survived*: (0 - no, 1 - yes) <br>
*gender*: (0 - female, 1 - male) <br>
*age*: (numerical age of passenger) <br>
*sibsp*: (number of siblings and/or spouses the passenger had onboard together with them) <br>
*parch*: (number of parents and/or children the passenger had onboard together with them) <br>
*fare*: (assume in $US based on 1912 pricing) <br>

Q1.
Read the provided data file into Jupyter Notebook using suitable file opening functions, and perform the following tasks: <br> <br>
i) Print a list (python data structure) of all the column header names of the dataset (the column names are in the first line of the data file) <br>
ii) Print the first 5 column header names, followed by the first 5 rows of the data

For ii), your output should clearly display the column names and the required rows of data as per the example below.

Hint: Use Python's open() and readline() to open the provided file, and to read the file's column headers and rows of the data, line by line.

Reminder: use of non-basic python such as csv or pandas libraries will result in 50% penalties.

In [3]:
# Answer to question 1.
freader = open("titanic_mod.csv","rb")      #opeing file in read mode
data = freader.readlines()                  #reading line by line using readline function
headers = data[0].decode()                  #decoding the bytes to string 
headers = headers.split(",")                #spliting to list
headers[0] = headers[0][1:20]               #slicing out the special characters
headers[7] = headers[7][0:4]                #slicing out the special characters
data[0] = data[0].decode()                  #decoding the bytes to string
print("Printing headers of data in List : ")
print(headers)                              #printing the list of header name (i) part
print("\nPrinting 5 headers with 5 rows :") 
print(f"{headers[0]}\t{headers[1]}\t{headers[2]}\t\t{headers[3]}\t\t{headers[4]}")      #Printing the first 5 column header names, followed by the first 5 rows (ii) part
for i in range(1,6):                        #loop to iterate through the data from 1st to 5th row
    data[i] = data[i].decode()
    data[i] = data[i].split(',')
    print(f"{data[i][0]}\t\t {data[i][1]}\t\t{data[i][2]}\t\t{data[i][3]}\t\t{data[i][4]}")

freader.close()                             #closing the file

Printing headers of data in List :
['passenger_id', 'survived', 'pclass', 'gender', 'age', 'sibsp', 'parch', 'fare']

Printing 5 headers with 5 rows :
passenger_id	survived	pclass		gender		age
1		 1		1		0		29
2		 1		1		1		1
3		 0		1		0		2
4		 0		1		1		30
5		 0		1		0		25

Q2.   
Using relevant numpy functions, load the data file into an array, excluding the first row of column headers.  Display the contents and properties of the array as per the below example.  You may need to use numpy’s set_printoptions() function to achieve the desired display).

Hint: Use numpy's genfromtxt() function to load data from a text or csv file. Read documentation and consider carefully what parameters to use when calling genfromtxt().

In [4]:
import numpy as np          #importing library numpy

#reading dataset as numpy array using function genfromtext() by skiping the header part from the file and splitting at ","
data_set = np.genfromtxt('titanic_mod.csv',skip_header=1,delimiter=",",filling_values=None)      
np.set_printoptions(suppress=True)          #using set_printoptions() function to remove the extra zeros
print("2-D Array of Titain Details")
print(data_set)                             #printing the numpy array
print("\nThe size of the array is ",data_set.size)  #printing the size of array
print("The shape of the array is ",data_set.shape)  #printing the shape of array

2-D Array of Titain Details
[[   1.        1.        1.     ...    0.        0.      211.3375]
 [   2.        1.        1.     ...    1.        2.      151.55  ]
 [   3.        0.        1.     ...    1.        2.      151.55  ]
 ...
 [1044.        0.        3.     ...    0.        0.        7.225 ]
 [1045.        0.        3.     ...    0.        0.        7.225 ]
 [1046.        0.        3.     ...    0.        0.        7.875 ]]

The size of the array is  8368
The shape of the array is  (1046, 8)

Q3.   
Write a user-defined function that has two parameters: a column index and a passenger age number. It will count the occurrences of the passenger age number in the column index of the numpy array and return the total occurrences.

Use the above user-defined function to answer the following question:

In the dataset, print the 3 most frequent ages of the passengers. Include the proportion as a % out of entire passenger manifest, to 3 decimal places, for each age.

In [5]:
# Answer to question 3.
import numpy as np                  #importing library numpy

#reading dataset as numpy array using function genfromtext() by skiping the header part from the file and splitting at ","
dataset = np.genfromtxt("titanic_mod.csv",dtype="int",skip_header=1,delimiter=",")
def passengerAge(column_index,passenger_age):               #user-defined function according to the question 
    
    age_count=0
    for i in dataset:                                       #loop to iterate through the dataset
        if passenger_age==i[column_index]:                  #if statement to find specific age in the dataset
            age_count+=1                                    #when found increasing the value of counter variable by 1
    return age_count                                        #returning the value of counter variable
ages = []               #blank list of name ages
for i in dataset:                                           #loop to iterate through dataset
    ages.append(i[4])                                       #appending to list of name ages
ages = set(ages)                                            #converting list into set                                       
occurences = []         #blank list of name occurances
for i in ages:                                              #loop to iterate through the list ages
    occurences.append([i,passengerAge(4,i)])                #appending to list of name occurences
occurences = np.array(occurences)                           #coverting list to numpy array
occurences = occurences[occurences[:,1].argsort()[::-1]]    #sorting the array using argsort()
# print(occurences)
for i in range(0,3):                    #loop for printing the three most frequent ages
    print(f"Passengers aged {occurences[i][0]} accounted for {((passengerAge(4,occurences[i][0])/1046)*100):.3f}% of the passenger population")

Passengers aged 24 accounted for 4.589% of the passenger population
Passengers aged 30 accounted for 4.111% of the passenger population
Passengers aged 22 accounted for 4.111% of the passenger population

Q4.   
It is often important to explore the data to gain preliminary insights, before proceeding to predictive models or deciding on a problem statement to investigate.

Please print out the following values amongst passengers (when appropriate, to 2 decimal places): <br>

    i)   Highest value of number of siblings and/or spouses onboard
    ii)  Mean value of parents and/or children onboard
    iii) 50th-percentile value of fare paid
    iv)  Cheapest non-zero fare paid

In [6]:
# Answer to question 4.

#reading dataset as numpy array using function genfromtext() by skiping the header part from the file and splitting at ","
dataset = np.genfromtxt("titanic_mod.csv",dtype="int",skip_header=1,delimiter=",")
max_sibling=0                           #variable for highest number of sibling
cheapest_fare=300                       #variable for lowest fare 
total_parch=0                           #varibale for total parents and children
total_passenger=0                       #variable for total passengers
fares=[]                                #List to store the fares
for i in dataset:                       #loop to iterate through the dataset
    total_parch+=i[6]                   #increasing the value of counter variable according to data set
    total_passenger+=1                  #increasing the value of counter variable according to data set
    fares.append(i[7])                  #appending the fares to the list
    mean_parch=total_parch/total_passenger  #Mean of total parent and children
    if i[7]<cheapest_fare and i[7]>0:       #checking if cheapest fare earlier is less than this value and is greater than 1
        cheapest_fare=i[7]                  #updating cheapest fare value
    if max_sibling<=i[5]:                   #comparing max sibling value
        max_sibling=i[5]
fares.sort()                    #sorting fares 
fare_percentile=np.percentile(fares,50)         #50th percentile of fares

#printing all the desired values according to the question
print(f"Highest value of number of siblings and/or spouses onboard are {max_sibling}")        
print(f"50th percentile value of fare paid is {fare_percentile}")
print(f"Cheapest non-zero fare paid are {cheapest_fare}")
print(f"Mean value of parents and/or children onboard is {'%.2f'%mean_parch}")

Highest value of number of siblings and/or spouses onboard are 8
50th percentile value of fare paid is 15.0
Cheapest non-zero fare paid are 3
Mean value of parents and/or children onboard is 0.42

Q5.   
An example of a more advanced investigation, requiring comparison across aggregated values of different features/columns, could be, a researcher wanting to measure the difference in fares between males that survived and males that did not:

Print out the difference between mean fare paid by males that survived, and mean fare paid by males that did not, appropriately formatted.

In [20]:
# Answer to question 5.

#reading dataset as numpy array using function genfromtext() by skiping the header part from the file and splitting at ","
dataset = np.genfromtxt("titanic_mod.csv",dtype="int",skip_header=1,delimiter=",")    
total_s_male_fare=0                 #variable for total fare of males survived
s_male_count=0                      #variable for total male survived
ns_male_count=0                     #variable for total non surviving males
total_ns_male_fare=0                #variable for total fare of non surviving males
for i in dataset:                   #loop to iterate through the dataset
    if i[1]==1 and i[3]==1:             #checking surviving males and increamenting the counter variables
        total_s_male_fare+=i[7]
        s_male_count+=1
    if i[1]==0 and i[3]==1:             #comparing non survival and males and increamenting the counter variables
        total_ns_male_fare+=i[7]
        ns_male_count+=1
mean_s_fare=total_s_male_fare/s_male_count              #mean of fares of surviving males
mean_ns_fare=total_ns_male_fare/ns_male_count           #mean of fares of non surviving males

#printing all the desired values according to the question
print(f"Mean of fare paid by male that survived is:- {'%.3f'%mean_s_fare}")
print(f"Mean of fare paid by male that did not survived is:- {'%.3f'%mean_ns_fare}")
print(f"Difference of fare between them is:- {'%.3f'%(mean_s_fare-mean_ns_fare)}")

Mean of fare paid by male that survived is:- 39.56296296296296
Mean of fare paid by male that did not survived is:- 25.250478011472275
Difference of fare between them is:- 14.312484951490688

Q6.
A research think-tank has tasked you with automating some of the common queries that their members make about the Titanic dataset.

>Write a simple Python program for the user to query the data based on his/her given inputs. When a user enters an option from 0 to 3, the program will process the option accordingly. After the option has been processed, the program will display the main menu again and the process is repeated until the user chooses to exit.
The options are explained in Questions 7 to 9.


Q7.
Correlation between quantities may indicate some underlying relationship or likely pattern of behaviour.

>For the Compute Correlation option, display a numbered list of all the column header names and prompt the user to input the numbers representing the two quantities for the computation of correlation. The computed correlation should be rounded off to 3 decimal places.


Q8.
In the absence of actual lifeboat data, survivor age can be used to gauge if certain demographics were allowed on the lifeboats first.

>Prompt the user to enter the passenger class number, before displaying the corresponding rows of the 20 oldest survivors for that passenger class, in order from oldest to youngest.


Q9.
It was reported that while generally women were allowed onto lifeboats first, researchers are also keen to identify female survivors with larger numbers of family members onboard (not including themselves).

>Write a simple lambda function to calculate a new numpy array column containing each passenger's non-self family members onboard, by adding the count of sibling and/or spouses, to the count of parents and/or children, for each passenger.

>Append this column to the existing numpy 2-D array of values (you may need to use numpy.reshape() before appending) and display the top 20 rows of female survivors, ordered by highest to lowest by non-self family member count primarily, and in case of a tie, by highest to lowest fare secondarily.

In [13]:
# Answer to questions 6, 7, 8, 9.

import math
import numpy as np

# driver code
# Answer to ques 6
def main():
    
    #reading dataset as numpy array using function genfromtext() by skiping the header part from the file and splitting at ","
    dataset = np.genfromtxt("titanic_mod.csv",skip_header=1,delimiter=",")
    print('''
        Main Menu
        
        1. Compute Correlation
        2. Ranked List of 20 Oldest Survivors by Passenger Cabin Class Number
        3. Ranked List of 20 Female Survivors by Highest Non-Self Family Member Onboard Count and then by Highest fare
        0. Exit
        ''')
    option=int(input("Enter your option:"))     #taking user's choice 
    if option==1:
        correlation(dataset)            #calling function to find correlation between two values
    elif option==2:
        oldest_survivor(dataset)        #calling function to find ranked list of 20 oldest survivor by their class
    elif option==3:
        female_survivor(dataset)        #calling function to find ranked list of 20 female passengers with highest number of family members and by highest fare
    elif option==0:
        exit()

#Answer to question 7
def correlation(dataset):               #function to compute correlation
    print("List of header names for performing correlation")
    print('''
            0. passenger_id
            1. survived
            2. p_class
            3. gender
            4. age
            5. sibsp
            6. parch
            7. fare ''')
    header_dict={0:"passenger_id",1:"survived",2:"p_class",3:"gender",4:"age",5:"sibsp",6:"parch",7:"fare"}
    first_quan=int(input("Enter the number for first quantity"))            #first quantity to compare
    second_quan=int(input("Enter the number for second quantity"))          #second quantity to compare
    first_quan_list=[]                  #list of first quantity
    second_quan_list=[]                 #list of second quantity 

    for i in dataset:
        first_quan_list.append(i[first_quan])           #adding first quantity to the list
        second_quan_list.append(i[second_quan])         #adding second quantity to the list
        numerator = 0                                   #numerator of correlation
        first_quan_list_mean= np.mean(first_quan_list)          #mean of first list of first quantity
        second_quan_list_mean = np.mean(second_quan_list)       #mean of first list of second quantity
        sigma_M1=0          #Σ(x-x(mean))
        sigma_M2 = 0        #Σ(y-y(mean))
        for i in range(0,len(first_quan_list)):
            M1 = (first_quan_list[i]-first_quan_list_mean)      # (x-x(mean))
            M2 = (second_quan_list[i]-second_quan_list_mean)    # (y-y(mean))
            product = M1*M2             #(x-x(mean))*(y-y(mean))
            numerator += product        #Σ(x-x(mean))*(y-y(mean))
            sigma_M1 += M1**2           #Σ(x-x(mean))^2
            sigma_M2 += M2**2           #Σ(y-y(mean))^2
            

    denominator = math.sqrt(sigma_M1*sigma_M2)      # √((Σ(x-x(mean))^2)-(Σ(x-x(mean))^2))

    correlation = numerator/denominator             #(Σ(x-x(mean))*(y-y(mean))) / √((Σ(x-x(mean))^2)-(Σ(x-x(mean))^2))
    
    print('The correlation between {} and {} is '.format(header_dict[first_quan],header_dict[second_quan]),'%.3f'%correlation)       #printing the value of correaltion(rounded off to 3 decimal places)


#answer to question 8
def oldest_survivor(dataset):           #function to display 20 oldest survivor of specific passenger cabin class
    passenger_cabin_class=int(input("Enter the passenger cabin class number (1 to 3): "))               #taking input of passenger cabin class
    np.set_printoptions(suppress=True)                                  #using set_printoptions() function to remove the extra zeros
    survivor=[]                                                         #blank list
    for i in dataset:                                   #loop to iterate through the dataset
        if 1==i[1] and passenger_cabin_class==i[2]:                 #checking the cabin class and passenger is alive 
            survivor.append(i)                                      #if above condition satisfy appending to the list

    sorted_list = sorted(survivor, key=lambda x:x[4],reverse=True)      #sorting the list on the basis of age
    sorted_list = np.array(sorted_list)                                 #converting the list into numpy array

    #printing the output in the desired format 
    print("List of 20 Oldest Survivors for Passenger Cabin Class Number ",passenger_cabin_class,"\n")
    print('passenger_id\tsurvived\tpclass\t\tgender\t\t age\t\t sibsp\t\t parch\t\t fare')
    for i in range(0,20):
        print('%.0f'%sorted_list[i][0],'\t\t','%.0f'%sorted_list[i][1],'\t\t','%.0f'%sorted_list[i][2],'\t\t','%.0f'%sorted_list[i][3],'\t\t','%.0f'%sorted_list[i][4],'\t\t','%.0f'%sorted_list[i][5],'\t\t','%.0f'%sorted_list[i][6],'\t\t',sorted_list[i][7])

#answer to question 9
def female_survivor(dataset):               #function to identify the female survivor with large number of family members on the ship
    newNump = lambda val1,val2: val1+val2               #lambda function (one liner function)
    new_column = []                                     #blank list
    for i in dataset:                            #loop to iterate through the dataset
        col = newNump(i[5],i[6])                
        new_column.append(col)                  #appending specific data to the list from dataset
    dataset = np.column_stack((dataset, new_column))        

    female_survivors = []                       #blank list 
    for i in dataset:                           #loop to iterate through the dataset
        if i[3] == 0 and i[1] == 1:             
            female_survivors.append(i)          #appending the specific data from the dataset to list 


    female_survivors = np.array(female_survivors)                                   #coverting the list into numpy array
    female_survivors = female_survivors[female_survivors[:,8].argsort()[::-1]]      #sorting numpy array using argsort according to non self family member

    top_female_survivors = []                               #blank list
    for i in range(0,20):                                   #loop to iterate through the dataset
        top_female_survivors.append(female_survivors[i])    #appending the top 20 female surviour

    #sorting on the basis of highest to lowest fares in case of clashes in family member count  
    top_6 = []                          #list of female survivors with 6 family members                     
    top_5 = []                          #list of female survivors with 5 family members
    top_4 = []                          #list of female survivors with 4 family members
    top_3 = []                          #list of female survivors with 3 family members
    #adding element to the desired list 
    for i in top_female_survivors:      
        if i[8]==6:
            top_6.append(i)
        elif i[8]==5:
            top_5.append(i)
        elif i[8]==4:
            top_4.append(i) 
        elif i[8]==3:
            top_3.append(i)  

    #converting the list to numpy array
    top_6 = np.array(top_6)
    top_5 = np.array(top_5)
    top_4 = np.array(top_4)
    top_3 = np.array(top_3)
    #sorting the numpy arrays on the basis of fares
    top_6 = top_6[top_6[:,7].argsort()[::-1]]
    top_5 = top_5[top_5[:,7].argsort()[::-1]]
    top_4 = top_4[top_4[:,7].argsort()[::-1]]
    top_3 = top_3[top_3[:,7].argsort()[::-1]]

    top_20 = np.vstack((top_6, top_5,top_4,top_3))      #conversion into stack array

    #printing in the desired output format
    print("List of 20 Female Survivors by Highest Non-self Family Member Onboard Count, then by Highest Fare, in descending order\n")
    print('passenger_id\tsurvived\tpclass\t\tgender\t\t age\t sibsp\t parch\t  fare\t\t sibsp_parch')
    for i in range(0,20):
        print('%.0f'%top_20[i][0],'\t\t','%.0f'%top_20[i][1],'\t\t','%.0f'%top_20[i][2],'\t\t','%.0f'%top_20[i][3],'\t\t','%.0f'%top_20[i][4],'\t','%.0f'%top_20[i][5],'\t','%.0f'%top_20[i][6],'\t',"{:6.2f}".format(top_20[i][7]),'\t','%.0f'%top_20[i][8])

if __name__ == "__main__":
    main()

        Main Menu

        1. Compute Correlation
        2. Ranked List of 20 Oldest Survivors by Passenger Cabin Class Number
        3. Ranked List of 20 Female Survivors by Highest Non-Self Family Member Onboard Count and then by Highest fare
        0. Exit

List of 20 Female Survivors by Highest Non-self Family Member Onboard Count, then by Highest Fare, in descending order

passenger_id	survived	pclass		gender		 age	 sibsp	 parch	  fare		 sibsp_parch
592 		 1 		 3 		 0 		 38 	 1 	 5 	  31.39 	 6
589 		 1 		 3 		 0 		 5 	 4 	 2 	  31.39 	 6
571 		 1 		 3 		 0 		 17 	 4 	 2 	   7.92 	 6
101 		 1 		 1 		 0 		 28 	 3 	 2 	 263.00 	 5
102 		 1 		 1 		 0 		 23 	 3 	 2 	 263.00 	 5
105 		 1 		 1 		 0 		 60 	 1 	 4 	 263.00 	 5
100 		 1 		 1 		 0 		 24 	 3 	 2 	 263.00 	 5
499 		 1 		 2 		 0 		 24 	 2 	 3 	  18.75 	 5
221 		 1 		 1 		 0 		 18 	 2 	 2 	 262.38 	 4
222 		 1 		 1 		 0 		 21 	 2 	 2 	 262.38 	 4
224 		 1 		 1 		 0 		 48 	 1 	 3 	 262.38 	 4
407 		 1 		 2 		 0 		 54 	 1 	 3 	  23.00 	 4
82 		 1 		 1 		 0 		 27 	 1 	 2 	  52.00 	 3
436 		 1 		 2 		 0 		 22 	 1 	 2 	  41.58 	 3
433 		 1 		 2 		 0 		 1 	 1 	 2 	  39.58 	 3
541 		 1 		 2 		 0 		 33 	 1 	 2 	  27.75 	 3
538 		 1 		 2 		 0 		 1 	 1 	 2 	  27.75 	 3
494 		 1 		 2 		 0 		 30 	 3 	 0 	  21.00 	 3
701 		 1 		 3 		 0 		 1 	 1 	 2 	  20.57 	 3
703 		 1 		 3 		 0 		 33 	 1 	 2 	  20.57 	 3

## End of Notebook